<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<button type="button" onclick="location.href='/board/list/1/all'">게시물</button>
	<button type="button" onclick="location.href='/member/login'">로그인</button>
	<button type="button" onclick="location.href='/member/join'">회원가입</button>
	<button type="button" onclick="location.href='/logout'">로그아웃</button>
	<!-- <button type="button" onclick="location.href='/admin/list'">관리자</button> -->
	
</body>
</html>