<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
<script type="text/javascript">
	$(function(){
		$(".delete").click(function(event){
			if(!confirm('정말로 삭제할까요?')){
				event.preventDefault();
			}
		});
	});
</script>
</head>
<body>
	<h2>도서목록</h2>
	<hr>
	<a href="/book/insert">도서등록</a>
	<br>
	
	<form action="/book/list" method="post">
		<select name="cname">			
			<option value="bookid">도서번호</option>
			<option value="bookname">도서명</option>
			<option value="price">가격</option>
			<option value="publisher">출판사명</option>
		</select> 
		: <input type="search" name="keyword">
		<input type="submit" value="검색">
	</form>
	<table border="1" width="80%">
		<tr>
			<td>도서번호</td>
			<td>도서명</td>
			<td>출판사</td>
			<td>가격</td>
			<td>Action</td>
		</tr>
		
		<tr	th:each="b:${list}">
			<td th:text="${b.bookid}"></td>
			<td th:text="${b.bookname}"></td>
			<td th:text="${b.publisher}"></td>
			<td th:text="${b.price}"></td>
			<td>
				<a th:href="@{'/book/update/'+${b.bookid}}" th:text="수정"></a>
				<a class="delete" th:href="@{'/book/delete/'+${b.bookid}}" th:text="삭제"></a>
			</td>
		</tr>
	</table>
</body>
</html>