<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>게시물 수정</h2>
	<hr>
	<form action="/board/update" method="post" enctype="multipart/form-data">	
		<input type="hidden" name="no" th:value="${b.no}">	
		글제목 : <input type="text" name="title" th:value="${b.title}"><br>
		작성자 : <span th:text="${b.writer}"></span><br>
		글암호 : <input type="password" name="pwd"><br>
		글내용 : <br>
		<textarea rows="10" cols="80" name="content" th:text="${b.content}"></textarea><br>	
		<input type="hidden" name="fname" th:value="${b.fname}">
		파일 : <span th:text="${b.fname}"></span> 
		<input type="file" name="uploadFile"><br>	
		<input type="submit" value="수정">
		<input type="reset" value="다시입력">
	</form>
</body>
</html>










