<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<h2>도서 주문</h2>
	<hr>
	<form method="post" action="/orders/insert">
		주문번호 : <input type="number" name="orderid" th:value="${orderid}"><br>
		도서명 : 
		<select name="bookVO.bookid">
			<option th:each="b:${b_list}" th:text="${b.bookname}" th:value="${b.bookid}"></option>
		</select><br>
		고객명 : 
		<select name="customerVO.custid">
			<option th:each="c:${c_list}" th:text="${c.name}" th:value="${c.custid}"></option>
		</select><br>
		주문가격 : <input type="number" name="saleprice"><br>
		<input type="submit" value="등록">
		<input type="reset" value="다시입력">
	</form>
</body>
</html>