<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>게시물 목록</h2>
	<hr>
	<table border="1" width="80%">
		<tr>
			<td>글번호</td>
			<td>글제목</td>
			<td>작성자</td>
			<td>등록일</td>
		</tr>
		<tr th:each="b: ${list}">
			<td th:text="${b.no}"></td>
			<td th:text="${b.title}"></td>
			<td th:text="${b.id}"></td>
			<td th:text="${b.regdate}"></td>
		</tr>
	</table>
</body>
</html>













